.navigation_bar {
  position: relative;
  flex: 0 0 180px;
  height: 100dvh;
  border-right: 1px solid var(--sidebar-border);
  background-color: var(--sidebar);
  padding-left: 8px;
  padding-right: 8px;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 6px;
}

.data_list {
  margin-top: 20px;
}

.list_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 8px;
}

.header_label {
  font-size: 13px;
}

.list_display {
  padding-top: 10px;
}

.display_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 8px;
  margin-bottom: 6px;
}

.item_input {
  background-color: var(--sidebar);
}

.item_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item_name {
  font-size: 14px;
}

.menu_item {
  font-size: 12px;
}

