.editor {
  flex: 1;
  height: 100dvh;
  position: relative;
  width: 0;/* 强制宽度计算 */
  min-width: 0;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding-left: 12px;
  padding-right: 12px;
  border-bottom: 1px solid var(--border);
  position: absolute;
  top: 0;
  left: 0;
}

.info_title {
  font-size: 14px;
  margin-right: 10px;
}

.info_count {
  font-size: 12px;
}

.header_action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editor_main {
  height: 100dvh;
  max-height: 100dvh;
  padding-top: 45px;
}

.editor_main_container {
  overflow-y: scroll;
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
}

/* WebKit (Chrome/Safari/Edge) */
.editor_main_container::-webkit-scrollbar {
  display: none;
}

.empty {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.empty_content_title {
  text-align: center;
  margin-bottom: 10px;
}

.empty_content_subtitle {
  text-align: center;
}
